#pixafy-dev-tool-container{
	position:fixed;
	box-shadow:0 0 10px -3px #333;
	background-color:#f5f5f5;
	box-sizing:border-box;
	top:20px;
	right:20px;
	z-index:999999;
	min-height:200px;
	width:200px;
	border-radius:3px;
}

#pixafy-dev-tool-container h1{
	font: normal bold 14px/14px Helvetica, Arial, sans-serif;
	color: #fff;
	background: #666; 
	box-shadow: 0 0 3px 0 #ccc;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ccc;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding: 10px 0;
	margin: 0 0 5px;
}

#pixafy-dev-tool-close-btn{
	position: absolute;
	top: 12px;
	right: 12px;
	font: normal normal 10px/10px Helvetica, Arial, sans-serif;
	color: #fff;
	cursor: pointer;
}

.pixafy-dev-tool-module-button{
	display: block;
	width: 80%;
	padding: 5px;
	margin: 0 auto 5px;
	font: normal normal 10px/10px Helvetica, Arial, sans-serif;
	outline: none;
	cursor: pointer;
}

.pixafy-dev-tool-parent-block {
	padding: 0 0 10px;
	margin:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.pixafy-dev-tool-parent-block h3 {
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	color: #333;
	font: normal normal 10px/10px Helvetica, Arial, sans-serif;
	margin-bottom: 5px;
}

.pixafy-dev-tool-parent-block ul {
	padding:0;
	margin:0;
	list-style: none;
}